<div class="container mt-3">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Create an article</h1>
        </div>
        <div class="col-12">            
            <%= render 'form' %>

            <%= link_to "Back to articles listing", articles_path %>
        </div>
    </div>
</div>